.bg {
    background-image: url();
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../Image/coxs-bazar.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}